{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">{{ product.getName }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="text-center">
            <h2>Total Cost information</h2>
        </div>
        <div class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered">
                            <thead>Product</thead>
                            <tbody>
                            <tr>
                                <th>Seller</th>
                                <td>{{ product.getSalesman.getEmail }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ product.getName }}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{ product.getPrice }} <span><i class="fa-solid fa-euro-sign"></i></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-bordered">
                            <thead>Client</thead>
                            <tbody>
                            <tr>
                                <th>Email</th>
                                <td>{{ client.getEmail }}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>{{ country.getTitle }}</td>
                            </tr>
                            <tr>
                                <th>Tax</th>
                                <td>{{ country.getTax }} <span><i class="fa-solid fa-percent"></i></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="bg-dark-subtle">Total cost</th>
                    <td class="bg-dark-subtle">{{ totalCost }} <span><i class="fa-solid fa-euro-sign"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}