{% extends 'base.html.twig' %}

{% block title %}Product Create{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('products') }}">Products</a></li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="text-center">
            <h2>Create Product</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 50rem;">
                <div class="card-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success mt-2">Create</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}