{% extends 'base.html.twig' %}

{% block title %}All product{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">Products</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center">
            <h2>My Products</h2>
        </div>

        <div class="controls">
            <a href="{{ path('products.create') }}" class="btn btn-outline-success">Create Product</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Salesman</th>
                <th>Title</th>
                <th>Price
                    &nbsp;&nbsp;<span><i class="fa-solid fa-euro-sign"></i></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    {# <a href="#">{{ product.getSalesman.getEmail }}</a> #}
                    <td>{{ product.getSalesman.getEmail }}</td>
                    <td><a href="{{ path('products.show', {'id': product.getId}) }}">{{ product.name }}</a></td>
                    <td>{{ product.getPrice }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}